@model IEnumerable<WebProjectBook.Models.Department>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<br />
<br />
<br />

<p>
    <a asp-action="Create" class="text-black-50 font-weight-bold">Please Create New Department</a>
</p>
<table class="table table-striped">
    <thead  class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departmentname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departmentnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departmentcity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departmentname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departmentnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departmentcity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="text-black-50" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="text-danger"asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
