@model IEnumerable<WebProjectBook.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<br />
<br />


<p>
    <a asp-action="Create"  class="text-black-50 font-weight-bold">Please Create New Employee</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
       <tr>
          <th>
             @Html.DisplayNameFor(model => model.Firstname)
          </th>
          <th>
             @Html.DisplayNameFor(model => model.Lastname)
          </th>
          <th>
             @Html.DisplayNameFor(model => model.Gender)
          </th>
          <th>
             @Html.DisplayNameFor(model => model.Department)
          </th>
          <th></th>
       </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr>
          <td>
             @Html.DisplayFor(modelItem => item.Firstname)
          </td>
          <td>
             @Html.DisplayFor(modelItem => item.Lastname)
          </td>
          <td>
             @Html.DisplayFor(modelItem => item.Gender)
          </td>
          <td>
             @Html.DisplayFor(modelItem => item.Department.Departmentname)
          </td>
          <td>
             <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
             <a class="text-black-50" asp-action="Details" asp-route-id="@item.Id">Details</a> |
             <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
          </td>
       </tr>
}
    </tbody>
</table>
